.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
   
    max-width: 250px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   
  }
  
  .product-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-brand,
  .product-category,
  .product-description,
  .product-price,
  .product-discount,
  .product-rating,
  .product-stock {
    margin: 5px 0;
    font-size: 1rem;
  }
  